# OS
.DS_Store
ehthumbs.db
Thumbs.db

# Node and related ecosystem
build/
node_modules/
AuthKey/

# General
*.env
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.tmp
*.bak
*.swp
logs/

# VS Code
.vscode/*
!.vscode/settings.json